{% extends "LagoNessBlog/base.html" %}
{% load static %}

{% block section1 %}


<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Lago Ness Blog!</h1>
            <p class="lead mb-6">A blog about a lot and nothing at the same time...</p>


            <h2>{{ notification }}</h2>

            <form action="" style=" width: 50vw; margin-left : 15vw;" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Log In</button>
            </form>




        </div>
    </div>
    </div>
    </div>
</header>

{% endblock section1%}